/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --c1:rgba(26, 26, 26, 1);        /* black */
    --c2:rgba(255, 255, 255, 1);     /* white */
    --c3:rgba(47, 128, 237, 1);      /* blue default */
    --c4:rgba(85, 150, 236, 1);      /* blue hover */
    --c5:rgba(22, 83, 165, 1);       /* blue active */
    --c6:rgba(255, 0, 0, 1);         /* red */
    --c7:rgba(106, 106, 106, 1);     /* grey */
    --c8:rgba(229, 229, 229, 1);     /* grey white */
    --c9:rgba(204, 132, 0, 1);       /* gold */
    --c10:rgba(0, 80, 0, 1);        /* green */
}

.c1 {color:var(--c1);}
.c2 {color:var(--c2);}
.c3 {color:var(--c3);}
.c4 {color:var(--c4);}
.c5 {color:var(--c5);}
.red {color:var(--c6);}
.c7 {color:var(--c7);}
.c8 {color:var(--c8);}
.c9 {color:var(--c9);}
.c10 {color:var(--c10);}

.b1 {background:var(--c1);}
.b2 {background:var(--c2);}
.b3 {background:var(--c3);}
.b4 {background:var(--c4);}
.b5 {background:var(--c5);}
.b_red {background:var(--c6);}
.b7 {background:var(--c7);}
.b8 {background:var(--c8);}
.b9 {background:var(--c9);}
.b10 {background:var(--c10);}

.f {display:-webkit-box;display:-ms-flexbox;display:flex;}
.fw {-ms-flex-wrap:wrap;flex-wrap:wrap;}
.fwn {-ms-flex-wrap:nowrap;flex-wrap:nowrap;}
.fnw {-ms-flex-wrap:nowrap;flex-wrap:nowrap;}
.fr {-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}
.frr {-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;}
.fc {-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
.fcr {-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
.fac {-webkit-box-align:center;-ms-flex-align:center;align-items:center;}

.f_ {-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;}
._f {-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;}
.f_f {-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
._f_f_ {-ms-flex-pack:distribute;justify-content:space-around;}
._f_ {-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}

.gap4 {gap:4px;}
.gap8 {gap:8px;}
.gap20 {gap:20px;}
.gap30 {gap:30px;}
.gap60 {gap:60px;}


._b_b {border-bottom: 1px solid var(--c8);}
._b_t {border-top: 1px solid var(--c8);}
._b_l {border-left: 1px solid var(--c8);}
._b_r {border-right: 1px solid var(--c8);}


.pad8l {padding-left:8px;}
.pad8r {padding-right:8px;}
.pad8t {padding-top:8px;}
.pad8b {padding-bottom:8px;}
.pad8 {padding:8px;}
.pad4 {padding:4px;}

._br8 {border-radius:8px;}

.shadow {
-webkit-box-shadow: 0 4px 14px rgba(0,0,0, 0.1);
        box-shadow: 0 4px 14px rgba(0,0,0, 0.1);
}
.shadow:hover {
    -webkit-box-shadow: 0 4px 14px rgba(0,0,0, 0.2);
            box-shadow: 0 4px 14px rgba(0,0,0, 0.2);
}
.shadow:active {
    -webkit-box-shadow: 0 4px 14px rgba(0,0,0, 0.3);
            box-shadow: 0 4px 14px rgba(0,0,0, 0.3);
}
.shadow_non:hover {
    -webkit-box-shadow: 0 4px 14px rgba(0,0,0, 0.1) !important;
            box-shadow: 0 4px 14px rgba(0,0,0, 0.1) !important;
}

.f_auto {-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;}
.f_80 {-webkit-box-flex:1;-ms-flex:1 1 80px;flex:1 1 80px; max-width:80px;}
.f_300 {-webkit-box-flex:1;-ms-flex:1 1 300px;flex:1 1 300px;}
.f_300_00 {-webkit-box-flex:0;-ms-flex:0 0 300px;flex:0 0 300px;}
.f_250 {-webkit-box-flex: 1;-ms-flex: 1 1 250px;flex: 1 1 250px;}
.f_200 {-webkit-box-flex:1;-ms-flex:1 1 200px;flex:1 1 200px;}
.f_150 {-webkit-box-flex:1;-ms-flex:1 1 150px;flex:1 1 150px;}
.f_250_10 {-webkit-box-flex:1;-ms-flex:1 0 250px;flex:1 0 250px;}

.T_t::first-letter {text-transform: uppercase;}
.t {text-transform: lowercase;}
.T {text-transform: uppercase;}
._t_ {text-align:center;}
._t {text-align:end;}
.t_ {text-align:start;}
.Tt {text-transform: capitalize;}
.t_nw {white-space: nowrap;}
.t_t {text-align: justify;}
.t_active {font-weight:900}
.t_active span {font-weight:900}
.text_hover li:hover:not(.t_active) {
    color: var(--c3) !important;
    background: var(--c8);
}

.fs16 {font-size:16px;}

.w {width:100%;}

.h {height:100%;}
.h300M {max-height:300px;}
.h_50m {min-height:50px;}

.hide {overflow:hidden;}

.scroll {overflow:auto;height:100%;width:100%;position:relative;}

.scroll::-webkit-scrollbar {
  width: 2px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--c7);
  border-radius: 2px;
  position: absolute;
  right: 10px; /* Сдвиг вправо на 10 пикселей */
  z-index: 1;
}

.hidden {
    display: none !important;
}
.tab_img {display:none; width:30px;}

